.body{
    font-family: 'Work Sans', sans-serif;
}
.header{
    background-color: #F3C6BD;
    padding: 30px 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.header-container{
display: flex;
justify-content: space-between;
align-items: center;
}
.logo{
    display: flex;
    align-items:center;
}
.logo > div:first-child{
    margin-right: 15px;
}
.logo-bold{
    font-weight: bold;
font-size: 20px;
line-height: 25px;
color: #2B292D;
}
.logo-regular{
    font-size: 18px;
line-height: 25px;
color: rgba(43, 41, 45, 0.6);
}
.header-nav{
    display: flex;
}
.header-li{
    display: inline-block;
}
.header-li:not(:last-child){
    margin-right: 20px;
}
.header-li > a{
    font-size: 18px;
line-height: 25px;
color: #2B292D;
text-decoration: none;
}
.header-li > a:hover{
    font-weight: bold;
}
.header-nav > div{
    margin-left: 75px;
}
.button{
    border: none;
    background: #3040C4;
    font-size: 18px;
line-height: 13px;
color: #FFFFFF;
padding: 17px 28px;
border-radius: 2px;
cursor: pointer;
background:linear-gradient(180deg);
}
.button:hover{
    background:white;
    color: #3040C4;
    transition: 1s;
}
.section-about{
background: #F4F5F7;
}
.section-about-container{
display: flex;
justify-content:space-between;
align-items: center;
padding: 55px 130px;
}
.about-bold{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;  
    color: #2B292D;
}
.about-regular{
    font-size: 22px;
    line-height: 32px;   
    color: #2B292D;
    max-width: 555px;
}
.logo-brand{
    display: flex;
    justify-content: space-between;
    align-items: center;
padding:30px 130px;
}

